<div class="form-group">
    <label for="">Id</label>
    <input type="number" class="form-control" [(ngModel)]="sprint.Id">
</div>
<div class="form-group">
    <label for="">Sprint Name</label>
    <input type="text" class="form-control" [(ngModel)]="sprint.SprintName">
</div>
<div class="form-group">
    <label for="">Sprint Goal</label>
    <input type="text" class="form-control" [(ngModel)]="sprint.SprintGoal">
</div>
<div class="form-group">
    <label for="">Date Debut</label>
    <input type="date" class="form-control" [(ngModel)]="sprint.DateDebut">
</div>
<div class="form-group">
    <label for="">Date Fin</label>
    <input type="date" class="form-control" [(ngModel)]="sprint.DateFin">
</div>
<button class="btn btn-primary" (click)="add()">Ajouter</button>