<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Sprint Name</th>
            <th>Sprint Goal</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sprint of sprints">
            <td>{{sprint.Id}}</td>
            <td>{{sprint.SprintName}}</td>
            <td>{{sprint.SprintGoal}}</td>
            <td>{{sprint.DateDebut | date:"dd-MM-yy"}}</td>
            <td>{{sprint.DateFin | date:"dd-MM-yy"}}</td>
            <td>
                <a class="btn btn-warning mx-1"[routerLink]="'/sprint/update/'+sprint.Id"><i class="fas fa-pencil-alt"></i></a>
                <button class="btn btn-danger mx-1" (click)="remove(sprint.Id)"><i class="fas fa-trash-alt"></i></button>
            </td>

        </tr>
    </tbody>
</table>